Package: devilutionx
Version: 1.1.0
Architecture: mipsel
Section: games
Maintainer: glex.spb@gmail.com
Description: v1.1.0-git20201104 RG350 Multiplayer.
Priority: optional
Homepage: https://github.com/diasurgical/devilutionX
Depends:
Source: https://github.com/diasurgical/devilutionX
