[Desktop Entry]
Name=DevilutionX
Comment=v1.1.0-git20201104 Multiplayer
Exec=devilutionx
Terminal=false
Type=Application
StartupNotify=true
Icon=icon_32
Categories=games;
X-OD-Manual=readme.retrofw.txt
X-OD-NeedsDownscaling=true
X-OD-NeedsJoystick=true
